body {
    margin-top:5px;
}

a {    
    text-decoration: none;
}

a:link {
    color: #666;
}

a:hover {
    color: #888;
}

a:visited {
    color: #999;
}

.main-links ul {
    list-style-type: none;
    align:right;
}

.main-links li {
    text-align:right;
    padding-bottom: 10px;
}

.main-links li:first-letter {
    color: #009900;
}

.main-links a {
    font-family: sans-serif;
    font-size: small;
    color: #333;
    text-decoration: none;
}

.main-links a:hover {
    font-family: sans-serif;
    font-size: small;
    color: #555;
    text-decoration: none;
}

.openyoucontainer {
    width:800px;
    margin-right: auto;
    margin-left: auto;
}

.openyoupage {
}

.content {
    width: 625px;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-size: small;
    text-align: left;
    background-color: #FFFFFF;
    float: right;
}

.sidebar-header-image {
    background: #009900;
    width:150px;
    height:93px;
}

.sidebar img {
    border: 0px;
}

.header-image img {
    background: #009900;
    width:600px;
    height:366px;
 }

.sidebar {
    width : 150px;
    float : left;
}

.sidebar-sub {
    font-size: x-small;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    color: #111;
    text-align: right;
    margin-bottom: 20px;
}

.sidebar-sub h1 {
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-size: medium;
    font-weight: normal;    
}

.sidebar-sub h1:first-letter {
    color: #009900;
}

.sidebar-sub ul {
    list-style-type: none;
    align:right;
}

.sidebar-sub li {
    margin-bottom: 5px;
}
    
.post {
    margin-bottom: 25px;
}

.post-header {
    display: table;
    font-size: large;
    font-weight: bold;
    width: 100%;
}

.post-header a {
    text-decoration: none;
}

.post-header a:visited {
    color: #666;
}

.post-header a:hover {
    color: #888;
}

.post-title {
    display: table-cell;
    text-align: left;    
    vertical-align: center;
}

.post-title:first-letter {
    color: #009900;
}

.post-metadata {
    display: table-cell;
    font-size: x-small;
    text-align: right;
    vertical-align:top;
    margin: 0px;
    padding: 0px;
}

.post-metadata p {
    margin:0px;
    padding:0px;
}

.copyright {
    clear:both;
    font-size: x-small;
    color: #333;
    text-align: center;
    padding-top:10px;
}

.copyright p {

    line-height: 0;
}

.lib-table {
    font-size: x-small;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

.lib-table th {
    border: 1px solid #000;
    font-weight: bold;
}

.lib-table-info td {
    vertical-align: top;
    padding: 5px;
}

.lib-table-name {
    font-weight: bold;
}

.lib-table-spacer {
    background: #000;
    height:1px;
    border:0px;
    padding:0px;
    width:100%;
    margin-top:5px;
    margin-bottom:5px;
}