<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
  {% block head %}
  <head>
    <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
		<meta charset='utf-8'>
    <link type="text/css" rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css" />
    <link type="text/css" rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments_friendly.css" />
    <link rel="alternate" type="application/rss+xml" href="https://feeds.feedburner.com/openyou" title="OpenYou.org RSS Feed">
    <link rel="alternate" type="application/atom+xml" href="https://feeds.feedburner.com/openyou" title="OpenYou.org RSS (Atom) Feed">
    <!-- Matomo -->
    <script type="text/javascript">
     var _paq = _paq || [];
     /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
     _paq.push(["setCookieDomain", "*.www.openyou.org"]);
     _paq.push(['trackPageView']);
     _paq.push(['enableLinkTracking']);
     (function() {
       var u="//matomo.nonpolynomial.com/";
       _paq.push(['setTrackerUrl', u+'piwik.php']);
       _paq.push(['setSiteId', '3']);
       var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
       g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
     })();
    </script>
    <noscript><p><img src="//matomo.nonpolynomial.com/piwik.php?idsite=3&amp;rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Matomo Code -->
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
  </head>
  {% endblock %}
  {% block body %}
  <body>
    <div class='openyoucontainer'>
      <div class='openyoupage'>
	      <div class='sidebar'>
	        <div class='sidebar-header-image'>
	          <A HREF='/'><IMG SRC='//images/site/openyoutranssmall.png' /></A>
	        </div>
	        <div class='main-links'>
	          <UL>
	            <LI><A HREF='/'>HOME</A></LI>
	            <LI><A HREF='/about'>ABOUT</A></LI>
	          </UL>
	        </div>
	        <div class='sidebar-sub'>
	          <H1>RSS</H1>
	          <A HREF='http://feeds.feedburner.com/openyou'><IMG SRC='//images/site/rss.png' /></A>
	        </div>
	      </div>
	      <div class='content'>
	        {% block content %}
	        {% endblock %}
        </div>
      </div>
	    <div class='copyright'>
	      <p>Copyright 2011-2018 <A HREF='https://kyle.machul.is'>Kyle Machulis</A> - Logo by <A HREF='http://www.counter-productive.com'>Counter-Productive Productions</A></p>
	    </div>
    </div>
  </body>
  {% endblock %}
</html>
