<HTML>
  <HEAD>
    <link type="text/css" rel="stylesheet" href="/style.css" />
    <TITLE>OpenYou - {{page.title}}</TITLE>
    <link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/openyou" title="OpenYou.org RSS Feed">
    <link rel="alternate" type="application/atom+xml" href="http://feeds.feedburner.com/openyou" title="OpenYou.org RSS (Atom) Feed">
  </HEAD>
  <BODY>
    <div class='openyoucontainer'>
      <div class='openyoupage'>
	<div class='sidebar'>
	  <div class='sidebar-header-image'>
	    <A HREF='/'><IMG SRC='http://images.nonpolynomial.com/openyou.org/site/openyoutranssmall.png' /></A>
	  </div>
	  <div class='main-links'>
	    <UL>
	      <LI><A HREF='/'>HOME</A></LI>
	      <LI><A HREF='/about'>ABOUT</A></LI>
	      <LI><A HREF='/libs'>LIBRARIES</A></LI>
	      <LI><A HREF='/apps'>APPLICATIONS</A></LI>
	    </UL>
	  </div>
	  <div class='sidebar-sub'>
	    <H1>RSS</H1>
	    <A HREF='http://feeds.feedburner.com/openyou'><IMG SRC='http://images.nonpolynomial.com/openyou.org/site/rss.png' /></A>
	  </div>
	  <div class='sidebar-sub'>
	    <H1>MAILING LIST</H1>
	    <A HREF='http://groups.google.com/group/openyou'>openyou : Google Groups</A><BR/>
	  </div>
	  <div class='sidebar-sub'>
	    <H1>TWITTER</H1>
	    <A HREF='http://www.twitter.com/openyouorg'>@openyouorg on twitter</A><BR/>
	  </div>
	  <div class='sidebar-sub'>
	    <H1>IRC</H1>
	    <A HREF='irc://irc.freenode.net/#openyou'>#OpenYou on Freenode</A><BR/>
	    <A HREF='http://webchat.freenode.net'>Web Client Available</A>
	  </div>
	  <div class='sidebar-sub'>
	    <H1>CONTACT</H1>
	    kyle at openyou dawt org
	  </div>
	</div>
	<div class='content'>
	  {{content}}
	</div>
      </div>
	<div class='copyright'>
	  <p>Copyright 2011 <A HREF='http://www.nonpolynomial.com'>Kyle Machulis/Nonpolynomial Labs</A> - Logo by <A HREF='http://www.counter-productive.com'>Counter-Productive Productions</A></p>
	</div>
    </div>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1413101-10']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </BODY>
</HTML>
